.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1.5rem;
  margin-bottom: 5em;
}
input {
  text-align: justify;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #2f2f2f;
  cursor: pointer;
  color: black;
  font-size: 1em;
}

textarea {
  border-radius: 5px;
  text-align: left;
  font-size: 1.5em;
}

label {
  font-size: 1.25em;
  text-align: start;
}

.span {
  align-self: flex-end;
  margin-top: 0;
  padding-top: 0;
}

form {
  border: none;
  gap: 0px;
  text-align: center;
  padding: 50px;
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  width: 400px;
  padding: 5px 0 20px 0;
}

form button {
  background-color: #3f0097;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form button:hover {
  background-color: aliceblue;
  color: #3f0097;
}
