/* Header CSS */
.header-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  height: auto;
  background-color: var(--header-footer-color);
  height: 10vh;
  z-index: 1;
}
